<nav>
    <div class="site-title">
        <a href="/"><h1>Tourist's Blogs</h1></a>
        <p>A website to read & create tourism Blogs.</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create</a></li>
    </ul>
</nav>